.list-title {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #f2f2f2;

  h2 {
    color: red;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 20px;
  }
  img {
    margin-left: 7px;
    opacity: 0.3;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}
